
*{
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: "sans-serif";
}

.btn.language{
  float:right;
  color:black;
  margin-top:0.5Vw;
  height: 4Vw;
  letter-spacing: 0.1Vw;
  background-color: rgba(255,255,255,0);
  padding-top:1Vw;

}

.language a{

  font-size:2Vw;
  text-indent:0Vw;
  padding-left:0;
  margin-bottom:1Vw;
  letter-spacing: 0.0Vw;
  font-weight:bold;
  vertical-align:bottom;
  line-height: 4Vw;
}

.fas{
  color:black;
}





.fas.fa-link{
  color:mediumseagreen;
}



.header{
  background-color: rgba(255,255,255,0.7);
  border-bottom:0.5Vw solid mediumseagreen;
  height: 5Vw;
  position:fixed;
  top:0Vw;
  width:97%;
  z-index: 10;

}

.btn{
  font-size:2Vw;
  margin-top:0.5Vw;
  padding:0Vw 0.5Vw;
  height: 4Vw;
  width:15Vw;
  color:white;
  display:inline-block;
  opacity:0.7;
  background-color:#3cb371;
  border-radius:0.5Vw;
  text-align: center;
  line-height:4Vw;
  letter-spacing: 0.2Vw;
  text-decoration: none;
  font-family:sans-serif;
  font-weight:bold;
}


.btn:hover{
  opacity:1;
}



.contents{
  width:98%;
  background-color:rgba(60,179,113,0.2);
  margin-top:0px;
  padding:0Vw 1Vw 1Vw 5Vw;
  border-radius: 1Vw;
  font-family: sans-serif;
}

.caption{
  font-size:3Vw;
  color:darkgreen;
  margin-top:1Vw;
  margin-bottom:1Vw;
  margin-left:1Vw;
  margin-right:1Vw;
  padding-top: 2Vw;
  font-weight:bold;
  text-indent:-1em;
  font-family: sans-serif;
}



.caption span{
  font-size:2Vw;
}

.bold{
  color:black;
  font-weight:bold;
}


.profileAll{
  width:100%;
  position:relative;
  font-size:2Vw;
  text-align: left;
}

.profcontent{
display:inline-block;
vertical-align: top;
}

.profphoto{
width:40%;
height:width*1;
margin-left:3Vw;


}

.photo{
  width:100%;
  /*max-height:30%;*/
  height:auto;
  text-align: center;
  border:0.5Vw solid white;
  border-radius: 1Vw;
}
.profletter{
/*position:absolute;
top:0px;
left:35%;*/
width:100%;
}

.profletter li{
  list-style: none;
  /* color:black; */
  margin-bottom:1Vw;
}

.profindex{
  color:black;
  font-size:3Vw;
  text-indent:-1em;
  padding-top:0px;
  font-weight:bold;
  margin-top:2em;
}
.profindex span{
  fontsize: 2Vw;
  font-weight:normal;
}

.profdetail{
  padding-left:1em;
  text-indent:-1em;
  font-weight:normal;
  color: black;
  margin-top:1em;
}

.profdetail.name{
  padding-left:1em;
  text-indent:-1em;
  font-weight:normal;

}

.topic{
  text-indent:0px;
  padding-left:0px;
}

.profdetail .topic a:hover{
  opacity:0.5;
}

.paper{
  font-size:2Vw;
  color:black;
  text-indent:0em;
  font-weight:bold;
}

.publishmentindex{
  font-size:3Vw;
}

.paperlink{
  text-decoration:none;
  color:black;
}

.paperlink:hover{
  color:rgba(60,179,113,1.0);
  opacity:0.5;
}

.paper li{
  font-size:2Vw;
  color:black;
  letter-spacing: 0px;
  text-indent:-1em;
  padding-left:0.5em;
  padding-top:1Vw;
  font-weight:normal;
  margin-top:0.5em;
}

.blank{
  height:5Vw;
  background-color:white;
}

.blank2{
  height:10Vw;
  background-color:white;
}



.link{
  text-decoration: none;
  color:black;
}

.link:hover{
  color:rgba(60,179,113,1.0);
  opacity:0.5;
}



.contents.gallery{
  background-color:rgba(60,179,113,0.2);
  width:98%;
}

.insidegallery{
  padding-top:2Vw;
  padding-left:10%;
  padding-right:10%;
  padding-bottom:0Vw;
}

/*スライド-ショーの設定*/

/*スライド-ショーの設定*/
}
.galleryPhoto{
height:auto;
}


.footer{
  color:black;
  font-size:3Vw;
  background-color:white;
  border-top:0.5Vw solid black;
  height: 5Vw;
  width:100%;
}


.copyright{
  position:absolute;
  left:1%;
}

.counter{
  position:absolute;
  left:80%;
}

.footer a{
  text-decoration:none;
  color:black;
}

.footer a:hover{
  opacity:0.5;
}
